.mod-loading
    height: 36px
    padding: 5px;
    line-height: 36px
    text-align: center
    // text-indent: -9999px
    overflow: hidden
    // background: url('../img/loading.gif') no-repeat center center